<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="mySection" type="MySectionHandler.MyConfigurationSectionHandler, MyConfigurationSectionHandler"/>
  </configSections>
  <mySection>
    <values>
      <value valueAttribute="valAtt01">
        <identifier>1</identifier>
        <settingValue>
          <newValue>11.1</newValue>
          <oldValue>1.1</oldValue>
        </settingValue>
      </value>
      <value valueAttribute="valAtt02">
        <identifier>2</identifier>
        <settingValue>
          <newValue>22.2</newValue>
          <oldValue>2.2</oldValue>
        </settingValue>
      </value>
      <value valueAttribute="valAtt03">
        <identifier>3</identifier>
        <settingValue>
          <newValue>33.3</newValue>
          <oldValue>3.3</oldValue>
        </settingValue>
      </value>
    </values>
  </mySection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
